name: Deploy to DigitalOcean
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Setup SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DO_KEY }}
          known_hosts: ${{ secrets.DO_KNOWN_HOSTS }}
          if_key_exists: ignore  # เปลี่ยนเป็น ignore เพื่อข้ามถ้า key มีอยู่แล้ว

      - name: Deploy Backend
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} "
            cd /root/Successmore_Stock_Management/backend &&
            git config pull.rebase false &&
            git fetch origin &&
            git reset --hard origin/main &&
            git pull origin main &&
            rm -rf node_modules package-lock.json &&
            npm install --legacy-peer-deps &&
            pm2 restart backend
          "

      - name: Deploy Frontend
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} "
            mkdir -p /var/www/frontend &&
            chown -R www-data:www-data /var/www/frontend &&
            chmod -R 755 /var/www/frontend
          "
          scp -r frontend/dist/* ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }}:/var/www/frontend